
.heading{
    font-size: 2rem;
    
}
.card{
    height: 50rem;
    width: 100%;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
    align-items: center;
}
.navbar{
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ec5f6c);
}
.card1{

    height: 25rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 2px solid;
    margin-top: 5rem;
    border-radius: 2rem;

}
.card-body{
  height: 21rem;

}
.email-entry{


}
#mailid{
    border-radius: 1rem;
    width: 15rem;
    height: 3rem;
    margin-top: 10px;

}

::placeholder{
    align-items: center;
    text-align: center;
}
    


.Present{
margin-right: 10px

}
.attendence-select{
    padding: 15px 0 0 0;
    margin-top: 10px;
}

.submit-btn{
    margin-top: 35px;
}

.sub{
    width: 100%

}